<!DOCTYPE html>
<html>
  <head>
    <title>Animals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= favicon_link_tag 'favicon' %> %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/c32c95600a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar  navbar-item fixed-top navbar-light bg-light" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
      <div class="container-fluid">
        <h2><%= link_to "Animals", root_path, class: "navbar-brand" %></h2>
        <h2><%=  link_to "My Favorites", favorites_path, class: "navbar-brand" %></h2>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
